button {
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 20px; }

.favorite-button {
  background-color: #EDFFF0;
  color: #3F0E10;
  background: url(../../Assets/Rebel_Alliance_logo_black.svg);
  background-size: cover;
  height: 160px;
  width: 160px;
  border-style: none;
  display: inline-block; }

.favorite-button:hover {
  background: url(../../Assets/Rebel_Alliance_logo_white.svg);
  background-repeat: none;
  background-size: cover;
  background-color: none; }

.nav-btn {
  background-color: #191A21;
  color: #e5b13a;
  border: 2px solid #e5b13a; }

.nav-btn:hover, .activeBtn {
  background-color: #e5b13a;
  color: #191A21; }

.activeBtn {
  font-size: 1.3em;
  font-weight: bold;
  border: none; }
