button {
  border: 1px solid #734F51;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  margin: 20px; }

.favorite-button {
  background-color: #FDFFDB;
  color: #3F0E10;
  background: url(../../Assets/Rebel_Alliance_logo_black.svg);
  background-repeat: none;
  background-size: cover;
  height: 160px; }

.favorite-button:hover {
  background: url(../../Assets/Rebel_Alliance_logo_white.svg);
  background-repeat: none;
  background-size: cover;
  background-color: none; }

.activeBtn {
  background-color: #3F0E10;
  color: #FDFFDB; }
