@import "../../variables.scss";

button {
  border-radius : 4px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 20px;
}

.favorite-button {
  background-color: $text-light;
  color: $body-dark;
  background: url(../../Assets/Rebel_Alliance_logo_black.svg);
  background-size: cover;
  height: 160px;
  width: 160px;
  border-style: none;
  display: inline-block;
}

.favorite-button:hover {
  background: url(../../Assets/Rebel_Alliance_logo_white.svg);
  background-repeat: none;
  background-size: cover;
  background-color: none;
}

.nav-btn {
  background-color: $text-dark;
  color: $crawl-color;
  border: 2px solid $crawl-color;
}

.nav-btn:hover, .activeBtn {
  background-color: $crawl-color;
  color: $text-dark;
}

.activeBtn {
  font-size: 1.3em;
  font-weight: bold;
  border: none;
}

.favorites-btn {

}
