@import "../../variables.scss";

.App {
  text-align: center;
  height: 100%;
}

.content-container {
  width: auto;
  height: 100%;
}

.title-container {
  margin: 20px 5px;
  border-bottom: 2px solid $text-dark;
  display: block;
}

.view-favorite {
  background: $body-medium;
  display: inline-block;
  height: 25px;
  position: fixed;
  top: 15px;
  right: 15px;

}

.main-content-container{
  height: 100%;
}
