.App {
  text-align: center;
  height: 100vh;
  overflow: scroll;
  background-image: url("../../Assets/deathstar-background.jpg");
  background-size: cover; }

.content-container {
  width: auto;
  height: 100%; }

.title-container {
  margin: 20px 5px;
  border-bottom: 2px solid #191A21;
  display: block; }

.view-favorite {
  background: #585858;
  display: inline-block;
  height: 25px;
  position: fixed;
  top: 15px;
  right: 15px; }

.main-content-container {
  height: 100%; }
