@import "../../variables.scss";

.App {
  text-align: center;
  height: 100vh;
  overflow: scroll;
  background-image: url('../../Assets/deathstar-background.jpg');
  background-size: cover;
}

.btns {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius : 4px;
}

.content-container {
  width: auto;
  margin: 0 30px;
  background: rgba(0, 0, 0, .2);
}

.title-container {
  margin: 20px 5px;
  display: block;
}

.view-favorite {
  background: $body-medium;
  display: inline-block;
  height: 25px;
  position: fixed;
  top: 15px;
  right: 15px;

}

.main-content-container{
  height: 100%;
}
