.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poller One', serif;
  font-weight: bold;
  background: #585858;
  width: 350px;
  margin: 5px;
  border-radius: 5px; }

hr {
  margin: 5px; }

.card-1:hover {
  box-shadow: 0 0 5px 5px #60db3c; }

.card-2:hover {
  box-shadow: 0 0 5px 5px #3676f7; }

.card-3:hover {
  box-shadow: 0 0 5px 5px #ea3f21; }

.card-info-title {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0; }

.card-title {
  border-bottom: 2px solid #191A21;
  display: block;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 15px; }
