@import "./Components/App/App.css";
@import "./Components/Crawl/Crawl.css";
@import "./Components/Card/Card.css";
@import "./Components/Button/Button.css";
@import "./Components/CardContainer/CardContainer.css";
@import "./variables.css";
@import "https://fonts.googleapis.com/css?family=Poller+One";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./Assets/deathstar-background.jpg');
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}
