$text-dark: #191A21;
$text-light: #EDFFF0;

$lightsaber-red: #ea3f21;
$lightsaber-green: #60db3c;
$lightsaber-blue: #3676f7;

$body-light: #734F51;
$body-medium: #585858;
$body-dark: #3F0E10;

$crawl-color: #e5b13a;
